.text-gradient{

    background:linear-gradient(135deg,#06b6d4,#3b82f6);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;
}

.glow{

    box-shadow:0 0 40px rgba(6,182,212,.3);
}

.container-custom{
    width:min(1320px,92%);
    margin-inline:auto;
    padding-inline:8px;
}